* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}


.fundo {
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-color: rgba(206, 241, 228, 0.63);
}


.main-title {
    display: flex;
    font-size: 3rem;
    text-align: center;
    color: #2b2ef6;
    background-color: white;
    padding: 10px ;
    margin: auto;

}

.banner{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    background-image: url("../../img/equipe.jpg");
    background-size: cover;

}

.slogan{
    width: 50%;
    position: absolute;
    bottom: 4rem;
    background-color: #2b2ef6;
}

.slogan .main-link{
    padding-top: 500px;
    text-decoration: none;
    color:#f66212;
    margin-left: 40px;
    font-size: 7rem;
}

.slogan h2{
    font-size: 4rem;
    margin-left: 40px;
    text-align: left;
    color: white
}


.content{
    background-color: #eee7e3;

}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-left: 1px solid #0d334a;
}

.about{

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}

.about .title{
    font-size: 3rem;
    color: #f66212;
}

.about .text{
    font-size: 2rem;
    margin-top: 20px;
}

.about p{
    padding-bottom: 15px;
    color: #0d334a;
    font-weight: 400;
}

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: auto;
    width: 70%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;    
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    height: 200px;
}

.card-text{
   margin: auto;      
}

.card-text h4{
    font-size: 4rem;
    text-align: center;
    color: #2b2ef6;

    padding-top: 10px;
}

.card-text p{
    padding: 10px 30px;
    margin: 10px auto;
    font-size: 2rem;
    text-align: left;
    color: rgb(82, 76, 76);
}

.gren{
    background-color: rgb(179, 228, 105);     
 }
.blue{
    background-color: rgba(134, 134, 221, 0.763);     
 }
.red{
    background-color: rgba(250, 165, 165, 0.718);     
 }






