* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container{
    display: grid;
    row-gap: 10px;
    column-gap: 50px;
    grid-template-areas:
    'title'
    'content';
}

#title{
    grid-area: title; 
    display: grid;
    grid-template-columns: auto 90% auto;
    height: 80px;
    align-items: center;
    font-size: 3rem;
    background-color: #0d334a;
}

#title h2{
    grid-column-start: 2;
    font-size: 3rem;
    font-weight: 400;
    color: #f66212;
}

#content {
    display: grid;
    grid-template-columns: 75% auto;
    margin: 30px;
    gap: 60px;
    grid-area: content;
    padding: 0 50px;
    background-color: aliceblue;
}

.card-1 {
    grid-row-start: 1;
    padding-top: 20px;
    width: 90%;
    margin: auto;
}


.card-1 img {
    width: 100%;
    margin: auto;
}

#content p {
    font-size: 1.5rem;
    color: rgb(29, 27, 27);
    margin: 20px auto;
}

#sidebar{
    border-left: 1px solid rgb(214, 208, 208);
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
   
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5rem;
    color: gray;
   
}

#sidebar ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
    padding: 25px;
    
}

#sidebar ul li a{
    text-decoration: none;
    color: #f66212;
}
