<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/954f0760ed.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header th:fragment="header">
      <nav>
        <div class="logo-div">
          <a th:href="@{/}" ><img class="logo-img" src="../img/header/logo-sem-fundo.png" alt="logo"></a>
          <a class="logo" th:href="@{/}">MCK Clinic</a>
        </div>
        <div class="mobile-menu">
          <div class="line-1"></div>
          <div class="line-2"></div>
          <div class="line-3"></div>
        </div>
        <ul class="nav-list">
          <li><a class="nav-item" th:href="@{/}">Home</a></li>
                        <li> <a class="nav-item" th:href="@{/about}">Sobre</a></li>
                        <li> <a class="nav-item" th:href="@{/expertises}">Especialidades</a></li>
                        <li> <a class="nav-item" th:href="@{/schedulings/form}">Agendar</a></li>
                        <li> <a class="nav-item" href="">Contatos</a></li>                      
                      
                        <li sec:authorize="isAnonymous()">
                            <a class="nav-item" th:href="@{/login}">Entrar</a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a class="nav-item" th:href="@{/users/form}">Cadastre-se</a>
                        </li>

                        <li sec:authorize="isAuthenticated()">
                            <a class="nav-item" th:href="@{/logout}">Sair</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                          <a href="/users/logged" class="nav-item" sec:authentication="principal.name"></a>
                        </li>
        </ul>
      </nav>
    </header>

    <footer  th:fragment="footer">
      <div class="conteudo">
          <div class="column">
              <h3>Endereço</h3>
              <ul>
                  <li>Rua da Venezuela 227</li>
                  <li>Bloco 5 apt 5101</li>
                  <li>Porto, Porto, Portugal</li>
                  <li>Tel.: +351 935 893 129</li>
              </ul>
          </div>
          <div class="column">
              <h3>Onde nos encontrar</h3>
              <ul>
                  <li>Email: mckclinic@mckgroup.com</li>
                  <li>Instagram</li>
                  <li>WhatsApp</li>
                  <li>Twiter</li>
              </ul>
          </div>
          <div class="column">
              <h3>Desenvolvido por:</h3>
              <ul>
                  <li>MCK Enterprise</li>
                  <li>Developer: Melquisedeque Marins Junior</li>
                  <li>Email: melck_junior@hotmail.com</li>
                  <li>WhatsApp: PT +351 935 893 129 / BR +55 (98) 98805-2832</li>
              </ul>
          </div>
      </div>
  </footer>
  
  <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
  
  </body>
</html>
