<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expertises</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="css/pages/alterAbout.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/954f0760ed.js" crossorigin="anonymous"></script>

</head>

<body>

    <div th:replace="fragments/fragments :: header"></div>

    <div class="container">

        <div id="title">
            <h2>Quem somos</h2>
        </div>
        <div id="content">
            <div class="card-1">
                <img src="img/especialidades.jpeg" alt="">
                <div class="text">
                    <p>Empresa ficticia do ramo de saúde destinada a fornecimento de serviços clinicos em diversas
                        áreas médicas. </p>
                    <p>A mesma foi idealizada para representar o modelo de negócio de uma clinica real para fim do
                        desenvolvimento desta plataforma online de agendamento de consultas e gerenciamento de clientes e profissionais.
                    </p>
                    <p>Esta empresa é completamente ficticia e as informações como nomes de pacientes e médicos,
                        dados de endereço e contato, bem como serviços prestatos são meramente
                        ilustrativos com fins didaticos. 
                    </p>
                </div>
            </div>
           
            <div id="sidebar">
                <ul>
                    <li><a href="">Quem somos</a></li>
                    <li><a href="">História</a></li>
                    <li><a href="">Missão, Visão e Valor</a></li>    
                </ul>
    
            </div>
        </div>


    </div>

    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>