<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="/css/contact.css">
    <script
      src="https://kit.fontawesome.com/954f0760ed.js"
      crossorigin="anonymous"
    ></script>

</head>

<body>

    <div th:replace="fragments/fragments :: header"></div>

    <section class="container">
        <div class="content">
            <div class="personal-info">
                <img src="https://avatars.githubusercontent.com/u/93653645?v=4" alt="">
                <div class="contacts">
                    <div class="contact">
                        <a href="https://www.linkedin.com/in/melquisedeque-marins-junior-324291230"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
                        <span></span>
                    </div>
                    <div class="contact">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="contact">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="contact">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
            </div>
            <div class="technologies">
                <ul>
                    <li>
                        <img src="https://logospng.org/download/java/logo-java-256.png" alt="">
                    </li>
                    <li>
                        <img src="https://static-00.iconduck.com/assets.00/spring-icon-256x256-2efvkvky.png" alt="">
                    </li>
                    <li>
                        <img src="https://habrastorage.org/webt/5c/fe/69/5cfe690a3b0f7609352456.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/postgresql-11-1175122.png" alt="">
                   </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/docker-226091.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-1-225993.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/react-3-1175109.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/css3-8-1175200.png" alt="">
                    </li>
                    <li>
                        <img src="https://logospng.org/download/java/logo-java-256.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="technologies-2">
                <ul>
                    <li>
                        <img src="https://logospng.org/download/java/logo-java-256.png" alt="">
                    </li>
                    <li>
                        <img src="https://static-00.iconduck.com/assets.00/spring-icon-256x256-2efvkvky.png" alt="">
                    </li>
                    <li>
                        <img src="https://habrastorage.org/webt/5c/fe/69/5cfe690a3b0f7609352456.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/postgresql-11-1175122.png" alt="">
                   </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/docker-226091.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-1-225993.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/react-3-1175109.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="">
                    </li>
                    <li>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/css3-8-1175200.png" alt="">
                    </li>
                    <li>
                        <img src="https://logospng.org/download/java/logo-java-256.png" alt="">
                    </li>
                </ul>
            </div>


        </div>
    </section>
    
    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>