<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expertises</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="/css/pages/expertises.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/954f0760ed.js" crossorigin="anonymous"></script>

</head>

<body>

    <div th:replace="fragments/fragments :: header"></div>

    <section class="content">
               <table class="tb">
                    <thead>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                    </thead>
                    <tbody>
                        <tr th:each="expertise : ${listExpertises}">
                            <td th:text="${expertise.id}"></td>
                            <td th:text="${expertise.name}"></td>
                            <td th:text="${expertise.description}"></td>                            
                        </tr>
                    </tbody>
               </table>
               
    </section>



    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>