<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expertises</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/fragment.css}" />
    <link rel="stylesheet" href="/css/expertises.css" />
  </head>

  <body>
    <div th:replace="fragments/fragments :: header"></div>

    <div class="container">
      <div class="cards">
        <div class="card" th:each="expertise : ${listExpertises}">
          <img th:src="${expertise.imgUrl}" />
          <div class="text">
            <h1 th:text="${expertise.name}"></h1>
            <p th:text="${expertise.description}"></p>
            <a th:href="@{'/schedulings/' + ${expertise.id} + '/doctors'} "
              ><input class="button" type="button" value="Agende sua consulta"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
  </body>
</html>
