* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.content {
    width: 80%;
    max-width: 1400px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    background: rgb(14, 14, 83);
}

h1 {
    color: orangered;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    float: left;
    border-left: 1px solid rgba(128, 128, 128, 0.963);
    background-color: orangered;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
    background-color: rgb(2, 2, 47);

}

.user span {
    display: flex;
    font-size: 1.5rem;
    justify-self: center;
    color: #FFF;
    text-transform: capitalize;
}

.user a {
    cursor: pointer;
    margin-left: 10px;
}

.user i {
    font-size: 5rem;
    color: #FFF;
    padding: 5px;
    margin-right: 5px;
}

.side-menu ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0 30px;
   margin-top: 20px;
}

.side-menu li {
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #FFF;
    text-align: left;
}

.side-menu a {
    color: #FFF;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    margin: 40px;
    padding: 0;
    width: 300px;
    
}

.card span {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
    text-align: center;
    color: blue;
    justify-self: center;
}
