* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

a {
    cursor: pointer;
}

.container {
    padding-top: 100px;
    max-width: 2000px;
    background-color: rgba(206, 241, 228, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.content{
    min-height: calc(100vh - 240px);
    width: 90%;  
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.banner .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .new-scheduling {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tb{
    width: 100%;
    margin: 20px auto;
 
}

.tb thead{
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 0;
}

.tb td {
    font-size: 1.5rem;
    padding: 2px 0;
    margin: 2px 0;
    text-align: center;
   
}

form button {
    border-style: none;
    background-color: unset;
    padding: 2px;
    cursor: pointer;
}

i {
    margin: 2px;
    font-size: 2rem;
    font-weight: bold;
}

.fa-rotate-right {
    color: green;
  
}

.fa-ban {
    color: red;
}
