* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    max-width: 2000px;
    background-color: rgba(206, 241, 228, 0.63);
    display: flex;
    justify-content: center;
    margin: auto;
}

.content{
    height: 600px;
    width: 90%;  
}

.tb{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.tb thead{
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 0;
}

.tb td {
    font-size: 1.5rem;
    padding: 2px 0;
    margin: 2px 0;
}

.fa-rotate-right {
    color: green;
    font-size: 1.8rem;
    font-weight: bold;
}
