* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    display: flex;
    max-width: 2000px;
    width: 80%;
    margin: auto;
}

.content {
    width: 80%;
    max-width: 1400px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: calc(100vh - 240px);
}

h1 {
    color: orangered;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.user {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.user i {
    color: green;
    font-size: 2rem;
}

.user span {
    font-size: 1.5rem;
    color: blue;
    
}

.user a {
    cursor: pointer;
    margin-left: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px;
    text-align: left;
    width: 220px;
}

.card p {
    font-size: 1.5rem;
    padding: 5px 0;
    text-align: left;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.actions button {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFF;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
}

.teste {
    height: 50px;
    background-color: red;
}

.side-menu {
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: 50px;
    margin-right: 30px;
    border-right: 1px solid rgba(128, 128, 128, 0.512);
}

.side-menu ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-right: 20px;
 
}

.side-menu li {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 1.6rem;
}




