* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.content {
    width: 80%;
    max-width: 1400px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    background: rgb(14, 14, 83);
}

.title h1 {
    color: orangered;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
}

label {
    color: #FFF;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

input {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    padding: 2px;
}

button {
    justify-self: center;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 2rem;
    color: #FFF;
    background-color: orangered;
    border: none;
    cursor: pointer;
}
