* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.side-menu {
    display: flex;
    flex-direction: column;
    float: left;
    border-left: 1px solid rgba(128, 128, 128, 0.963);
    background-color: orangered;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
    background-color: rgb(2, 2, 47);

}

.user span {
    display: flex;
    font-size: 1.5rem;
    justify-self: center;
    color: #FFF;
    text-transform: capitalize;
}

.user a {
    cursor: pointer;
    margin-left: 10px;
}

.user i {
    font-size: 5rem;
    color: #FFF;
    padding: 5px;
    margin-right: 5px;
}

.side-menu ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0 30px;
   margin-top: 20px;
}

.side-menu li {
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #FFF;
    text-align: left;
}

.side-menu a {
    color: #FFF;
    font-weight: bold;
}




