* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.content {
    width: 80%;
    max-width: 1400px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    background: rgb(14, 14, 83);
}

.title h1 {
    color: orangered;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.info {
   display: flex;
   flex-direction: row;
   color: #FFF;
   font-size: 2rem;
   margin-bottom: 2px;
}

.info p {
    letter-spacing: -0.015rem;
}

.info span {
    margin-right: 10px;
}









