* {
    margin: 0px;
    padding: 0px;
    align-items: center;
  }

  html {
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 62.5%;
  }


.container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    max-width: 2000px;
    width: 100%;
    margin: auto;
    background-color: rgb(14, 14, 83);
}

.content {
    min-height: calc(100vh - 100px);
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.personal-info img {
  margin-top: 30px;
  width: 200px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.about h1 {
  font-size: 4rem;
  color: orangered;
}

.about h2 {
  font-size: 3rem;
  color: orangered;
}

.about p {
  font-size: 2rem;
  color: #FFF;
}

.card {
  background-color: #FFF;
}

.contacts {
  text-align: left;
  margin-left: 20px;
}

.contact {
  margin: 5px auto;
 
}

.contact i {
  font-size: 2.2rem;
  margin-right: 3px;
  color: gray;
}

.contact a {
  text-decoration: none;
  color: #FFF;
  font-size: 2rem;
}
.contact span {
  font-size: 2.2rem;
  margin-left: 5px;
}

.carrossel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;
}

.technologies {
  height: 148px;
  width: 640px;
  overflow: hidden;
  box-shadow: 15px 15px 20px rgba(100, 100, 100, 1);
  background-color: #FFF;
}

.technologies .img {
  margin: 10px auto;
  width: 1280px;
  animation: slide 20s infinite ease-out ;
}

.technologies .img img {
  width: 128px;
}

@keyframes slide {
  0%{margin-left: 0px;}
  49%{margin-left: -536px;}
  50%{margin-left: -536px;}
  100%{margin-left: 0px;}
}