* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 62.5%;
  }

.content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: rgb(14, 14, 83);
    min-height: calc(100vh - 100px);
   
}

.title-container {
    display: flex;
    background-color: rgba(253, 248, 248, 0.925);
    padding: 10px;
    margin: auto;
    width: 100%;

}

.title {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.title h1 {
    font-size: 4rem;
    color: rgb(238, 84, 7);
}

.title p {
    font-size: 2rem;
    color: gray;
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color: orangered;
    margin-top: 30px;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 40px;
}

.calendar input {
    font-size: 2rem;
    color: rgb(14, 14, 83) ;
    text-transform: uppercase;
    font-family: 'roboto';
}

.calendar .form-button {
    background-color: orangered;
    color: #FFF;
    padding: 3px 20px;
    border-style: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.calendar .form-button:hover {
  opacity: 0.75;
    

}

.calendar .form-date {
    padding: 0 20px;
    cursor: text;
    
}

.calendar .form-date::-webkit-calendar-picker-indicator {
    cursor: pointer;
    
}

.schedules {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF;   
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientId-field {
    margin: 20px 0;
}

.schedule {
    transition: .4s;
    background-color: #FFF;
    margin: 10px;
}

#schedule {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    background-color: unset;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
    margin: 0 auto;
}

#schedule:hover {
    color: white;
    background-color: rgb(14, 14, 83);
}

.content button {
    cursor: pointer;
    width: 50px;
    margin: 10px auto;
}

.id {
    display: none;
}

.schedule-sumary {
    width: 20%;
    text-align: left;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    padding: 10px 20px;
    display: none;
}

.active {
    color: white;
    background-color: rgb(14, 14, 83);
}