* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}


a:hover {
    opacity: 0.7;
}

header {   
    position: fixed;  
    width: 100%; 
    top: 0; 
    left: 0;
    margin: auto;
    background-color: #FFF;
    border-bottom: 1px solid  rgba(193, 184, 184, 0.504);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    height: 100px;
    max-width: 1200px;
    margin: auto;
}


.logo-div {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2b2ef6;
    cursor: pointer;
    padding-left: 10px;
}

.logo-img {
    width: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    padding-top: 40px;
    
}

.nav-list li {
    margin-left: 40px;
    cursor: pointer;
    
}

.nav-list a {
    position: relative;
}

.nav-item::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #6ca9cf84;
    margin: 0 10px;
    position: absolute;
    display: block;
    left: -20px;
    top: 0px;

}


.nav-list li a {
    text-decoration: none;
    color: #0c618b;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.mobile-menu {
    cursor: pointer;
    display: none;
    padding-right: 10px;
}

.mobile-menu div {
    width: 24px; 
    height: 3px;
    background-color: #0e75a9;
    margin: 6px;
    transition: 0.3s;
}

footer {
    font-size: 1.4rem;
    width: 100%;
    height: 140px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0d334a;
    color: white;
}

footer .conteudo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer h3 {
    margin-bottom: 10px;
}

footer li {
    list-style: none;
}

.produced-by {
    display: flex;
    justify-content: flex-end;
}

.produced-by a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
@media (max-width: 1000px){
    
    nav {
        height: 80px;
        justify-content: space-between;
        padding: 0 100px;
    }
    
    .nav-list {
        position: absolute;
        justify-content: space-between;
        transition: 0.2s;
    }
    
    .nav-list li {
        display: none;
    }
    
    .mobile-menu div {
        width: 32px; 
        height: 3px;
        background-color: #0e75a9;
        margin: 6px;
        transition: 0.3s;
    }
    
    .mobile-menu {
        display: block;
    }
    
    .nav-list.active {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #FFF;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        transition: 0.2s;
        padding-bottom: 30px;
    }
    
    .nav-list.active li {
        display: block;
        margin: 0px; 
    }
    
    .nav-list.active li a { 
        font-size: 2.8rem;       
    }
    
    .nav-item::before {
        content: none;
    }
}    


@media (max-width: 700px){
    nav {
      
        padding: 0 50px;
    }

    .nav-list.active li a { 
        font-size: 2.4rem;       
    }

    .logo {
        font-size: 2.2rem;
    }

    .logo-img {
        width: 40px;
    }

}


@media (max-width: 425px){
    
    .nav-list.active {
        position: absolute;
        top: 60px;
    }
    
    nav {
        justify-content: space-between;
        padding: 0 15px;
        height: 60px;
    }    
    
    .logo {
        display: none;
    }  

    .logo-img {
        margin-left: 10px;
    }

    .mobile-menu div {
        width: 24px; 
        height: 3px;
        margin: 6px;
       
    }  
    
    .nav-list.active li a { 
        font-size: 1.8rem;       
    }

    
.mobile-menu.active .line-1 {
     transform: rotate(-45deg) translate(-7px, 7px); 
        
 }
 .mobile-menu.active .line-2 {
     opacity: 0;
 
 }
 .mobile-menu.active .line-3 {
     transform: rotate(45deg) translate(-7px, -7px);
 }
}    


.mobile-menu.active .line-1 {
        transform: rotate(-45deg) translate(-6px, 6px); 
}
.mobile-menu.active .line-2 {
    opacity: 0;

}
.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-6px, -6px);
}