*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.content {
    background-color: #eee7e3;
}


.container-main {
    padding-top: 60px;
    display: flex;
    max-width: 2000px;
    width: 100%;
    margin: auto;
   
}

.main-content {
    max-width: 1300px;
    width: 100%;
}


.main-baner {
    padding-top: 10px;
    display: flex;
    margin: auto;
    align-items: initial;
    height: 200px;
    max-width: 1400px;
    width: 100%;
    background-image: url("../img/index/banner-index-400.jpg");
    background-size: cover;
}


.main-baner img {
    align-items: center;
    margin: auto;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.slogan h1 {
    color: rgb(43, 0, 255);
    font-size: 2rem;
    text-transform: uppercase;
}

.slogan h2{
    color: orangered;
    font-size: 1.5rem;
    text-align: left;
    width: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
.cards-link {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr ;
    margin: 10px auto;
    padding: 10px 10px;
}

.card-link {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    background-color: rgb(244, 240, 235);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.264);
}

.card-link i {
    padding-bottom: 5px;
    color: orangered;
}

.card-link h3 {
    padding-bottom: 5px;
    color: rgb(43, 0, 255);
}

.container-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1500px;
    margin: auto;
}


.info-baner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}



.info-text h3 {
    color: orangered;
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 10px;
}

.info-text p {
    color: rgb(43, 0, 255);
    font-size: 2rem;
    text-align: center;
    padding: 0px 20px;
}

.info-img {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.register {
    display: flex;
    justify-content: center;
}

.register a button {
    padding: 10px 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: blue;
    color: #FFF;
    cursor: pointer;
    border-style: none;
    border-radius: 15px;
    margin: 10px 0;
}

@media (min-width: 425px) {

    .main-baner {
        padding-top: 20px;
        height: 250px;
        background-image: url("../img/index/banner-index-500.jpg");
        
    }
    .main-baner {
        padding-top: 30px;
    }

    .slogan h2{
        font-size: 1.8rem;
    }
}

@media (min-width: 600px) {
    .container-main {
        padding-top: 80px;
    }

    .main-baner {
        padding-left: 15px;
        padding-top: 20px;
        height: 300px;
        background-image: url("../img/index/banner-index-800.jpg");
        
    }

    .slogan h1 {
        font-size: 3.2rem;
    }

    .slogan h2{
        font-size: 2.2rem;
    }

    .cards-link {
        display: flex;
        justify-content: space-evenly;
        margin: 10px auto;
        padding: 10px 10px;
    }

    .card-link i {
        font-size: 5rem;
        padding-bottom: 10px;
        
    }

    .card-link a h3 {
        font-size: 2rem;
        padding-bottom: 5px;
        padding: 0 5px 5px 5px;
        color: rgb(43, 0, 255);
    }

    .card-link {
        display: flex;
        justify-content: space-around;
        width: 150px;
        height: 150px;
        margin: 20px;
    }
}

@media (min-width: 780px) {
    .main-baner {
        padding-top: 20px;
        height: 400px;
    }

    .slogan h1 {
        font-size: 4rem;
    }

    .slogan h2{
        font-size: 3rem;
    }

    .info-baner {
        display: flex;
        flex-direction: row;
        padding: 0 60px;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        width: 90%;
    }

    
    .info-baner .two {
        flex-direction: row-reverse;
        
    }

    .info-text {
        padding-bottom: 60px;
    }

    .info-text h3 {
        font-size: 3.5rem;
        padding: 0px 20px;
    }
    
    .info-text p {
        font-size: 2.5rem;
    }  

    .info-img {
        padding-bottom: 60px;
        width: 60%;
    }

   
}

@media (min-width: 1000px) {
    .container-main {
        padding-top: 100px;
    }

    .main-baner {
        padding-top: 30px;
        height: 600px;
        background-image: url("../img/index/banner-index-1200.jpg");
    }

    .slogan h1 {
        font-size: 6rem;
    }

    .slogan h2{
        font-size: 4.5rem;
        width: 50%;
    }

    .cards-link {
        margin: 30px 0;
    }

    .card-link a h3 {
        font-size: 2.2rem;
        padding-bottom: 5px;
        padding: 0 5px 5px 5px;
        color: rgb(43, 0, 255);
    }

    .card-link {
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        height: 200px;
        margin: 15px;
        box-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.399);
    }

    .card-link i {
        font-size: 6rem;
        padding-bottom: 10px;
        
    }

    .info-baner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
    }

    .info-img {
        align-items: center;
        justify-content: center;
    }

    .info-baner img {
        width: 450px;
    }

    .info-text {
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .info-text h3 {
        font-size: 4rem;
        width: 100%;
    }
    
    .info-text p {
        font-size: 3rem;
        width: 100%;
    }  

    .register a button {
        font-size: 2rem;
        margin: 20px 0;
    }
    
}

@media (min-width: 1250px) {

    .main-content-bg-color{
        background-color: rgba(241, 250, 247, 0.63);
       /* background-color: rgba(14, 14, 83); */
        padding: 30px 20px;
        margin-bottom: 60px;
    }


    .container-main {
        padding-top: 0px;
    }

    .main-content{
        padding-top: 100px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 0px auto;
    }

    .main-baner {
        height: 500px;
        margin-right: 20px;
    }

    .slogan h2{
        font-size: 4rem;
        width: 50%;
    }

    .cards-link {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
    }
    

    .card-link {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 80px;
        margin: 15px 0px;
        border-radius: 0px;
        box-shadow: 2px 2px 8px 3px  rgba(0, 0, 0, 0.207);
    }

    .card-link a {
        display:  flex;
        flex-direction:  row;
        justify-content: left;
        width: 85%;
    }

    .card-link i {
        font-size: 4.2rem;
        margin-right: 5px;
    }

    .card-link a h3 {
        font-size: 2.2rem;
        padding: 0px 10px;
    }

    
    .info-text h3 {
        font-size: 4rem;
        width: 100%;
        text-align: left;
    }
    
    .info-text p {
        font-size: 3rem;
        width: 100%;
        text-align: left;
    } 

    .info-baner img {
        width: 600px;
    }
  
}