* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    height: 600px
   
}

h1 {
    color: orangered;
}
.user {
    align-items: flex-end;
    justify-content: flex-end;
}

.user span {
    font-size: 1.5rem;
    color: blue;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 10px;
   
    margin: 20px;
    padding: 20px 10px;
    text-align: left;
}

.card p {
    font-size: 1.5rem;
    padding: 5px 0;
    text-align: left;
}
.actions {
    display: flex;
}

