* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.content {
    width: 80%;
    max-width: 1400px;
    padding: 10px 50px;
}

h1 {
    color: orangered;
    font-size: 3rem;
}
.user {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;
}

.user i {
    color: red;
    font-size: 2rem;
}

.user span {
    font-size: 1.5rem;
    color: blue;
    
}

.user a {
    cursor: pointer;
    margin-left: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px;
    text-align: left;
    width: 220px;
}

.card p {
    font-size: 1.5rem;
    padding: 5px 0;
    text-align: left;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.actions button {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFF;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;

}


