* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

header .container {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand a {
    color: #2b2ef6;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.4rem;
    align-items: center;

}

.container .brand img {
    width: 80px;
}

.menu-bar {
    display: block;
}

nav .menu-bar ul {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-betweenaround;
    list-style: none;
}

.nav-item {
    position: relative;
    display: block;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 20px;
    transition: .4s;
    color: #0e75a9;
}

.nav-item:hover {
    position: relative;
    text-decoration: underline;
}

.nav-item::before {
    content: '';
    width: 1px;
    height: 25px;
    background-color: #6ca9cf84;
    margin: 0 10px;
    position: absolute;
    display: block;
    left: -8px;
    top: 0px;

}


.content{
    display: flex;
    align-items: center;
}

.fundo {
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-color: rgba(206, 241, 228, 0.63);
}

.bg-imagem{
    padding: 20px;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    background-image: url("../img/agendar.jpeg");
    background-size: cover;
    
}

.card{
    padding: 30px;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #4e4e5ccf;
    align-items: center;
    width:40%;
}


.card h1{
    text-align: center;
    font-size: 5rem;
    color: #f66212;
}

.form{
    display: flex;
    flex-direction: column; 
    width: 70%;
    margin: auto;
}

.campos{
    display: flex;
    flex-direction: column;
}

.campos .lbl{
    color: white;
    font-size: 2rem;
}

.campos .campo{
    font-size: 1.8rem;
    padding: 7px ;
    margin-bottom: 8px;
    margin-top: 5px;
    outline: 0;
}

.campos .botão{
    color: white;
    border: none;
    background-color: #2b2ef6;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 5px;
}

.campos p{
    color: #2b2ef6; ;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
    margin-bottom: 5px;
}

.campos a{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
}

.back{
    display:flex;
    justify-content: center;

}

.back .botão{
    text-align: center;
   
}


footer {
    font-size: 1.4rem;
    width: 100%;
    height: 150px;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0d334a;
    color: white;
}

footer .conteudo{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer h3{
    margin-bottom: 10px;
}
footer li{
    list-style: none;
}

.produced-by {
    display: flex;
    justify-content: flex-end;
}

.produced-by a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

