* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    padding-top: 100px;
    max-width: 2000px;
    background-color: rgba(206, 241, 228, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.content{
    min-height: calc(100vh - 240px);
    width: 90%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.search h1 {
    color: orangered;
}

.box {
    margin: 20px 0;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.623);
    border-radius: 10px;
    background-color: #FFF;
}

.box input {
    border: 0;
    outline: 0;
    padding: 5px;
}

.box button {
    border: none;
    background-color: unset;
    padding: 5px;
}

table {
    border: 1px solid blue;
    background-color: #FFF;

}

.tb{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.tb th{
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 0;
}

.tb td {
    font-size: 1.5rem;
    padding: 2px 0;
    margin: 2px 0;
}

form button {
    border-style: none;
    background-color: #FFF;
    padding: 2px;
    cursor: pointer;
}

i {
    margin: 2px;
    font-size: 2rem;
    font-weight: bold;
}
