* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 62.5%;
  }

.container {
    padding-top: 100px;
    max-width: 1400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    background-color: rgb(14, 14, 83);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 83);
    width: 90%;
    min-height: calc(100vh - 100px );
   
}

.content-title {
    font-size: 5rem;
    color: orangered;
    margin: 40px auto;
    width: 75%;
    text-align: center;
}

.content img {
    width: 400px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.title {
    width: 100%;
    background-color: gray;
}
.title h1 {
    font-size: 3rem;
    color: #FFF;
    margin: 20px;
  
}

.cards {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border:  1px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFF;
    margin-left: 30px;
    width: 300px;
    cursor: pointer;
}

.card h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: rgb(14, 14, 83);
    text-transform: uppercase;
    font-weight: 500;
   
   
}

.card p {
    font-size: 1.6rem;
    color: gray;
}

.card a {
   text-decoration: none;
   cursor: pointer;
    
}