<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/fragment.css}" />
    <link rel="stylesheet" th:href="@{/css/clientAreaFragment.css}" />
    <link rel="stylesheet" th:href="@{/css/clientAreaSelfInfo.css}" />
    <script
    src="https://kit.fontawesome.com/954f0760ed.js"
    crossorigin="anonymous"
  ></script>
  </head>

  <body>
    <div th:replace="fragments/fragments :: header"></div>

    <div class="container">
      <div th:replace="fragments/clientAreaFragment :: side-menu"></div>
      <div class="content">
        
        <div class="title">
          <h1>Seus dados pessoais:</h1>
        </div>
        <div class="user-info" >
            <div class="info">
              <span>Nome:</span>
              <p th:text="${userLogged.name}"></p>
            </div>
            <div class="info">
              <span>CPF:</span>
              <p th:text="${userLogged.cpf}"></p>
            </div>
            <div class="info">
              <span>Sexo:</span>
              <p th:if="${#strings.toString(userLogged.gender)} == 'MALE'">Masculino</p>
              <p th:if="${#strings.toString(userLogged.gender)} == 'FEMALE'">Feminino</p>
            </div>
            <div class="info">
              <span>Data de nascimento:</span>
              <p th:text="${#temporals.format(userLogged.birthDate, 'dd/MM/yyyy')}"></p>
            </div>
            <div class="info">
              <span>E-mail:</span>
              <p th:text="${userLogged.email}"></p>
            </div>
            <div class="info">
              <span>Telemóvel:</span>
              <p th:text="${userLogged.phoneNumber}"></p>
            </div>
            <div class="info address" >
              <span>Endereço:</span>
              <div th:if="${userLogged.address} == null" >
                <p th:class="info"> Não informado</p>
              </div>
              <div class="address-info" th:unless="${userLogged.address} == null" >
                <div class="info">
                  <span>Rua:</span>
                  <p th:text="${userLogged.address.street}"></p>
                </div>
                <div class="info">
                  <span>Numero:</span>
                  <p th:text="${userLogged.address.number}"></p>
                </div>
                <div class="info">
                  <span>Cep:</span>
                  <p th:text="${userLogged.address.postalCode}"></p>
                </div>
                <div class="info">
                  <span>Cidade:</span>
                  <p th:text="${userLogged.address.city}"></p>
                </div>
                <div class="info">
                  <span>Estado:</span>
                  <p th:text="${userLogged.address.state}"></p>
                </div>
                <div class="info">
                  <span>País:</span>
                  <p th:text="${userLogged.address.country}"></p>
                </div>
              </div>
            </div>
            <div class="button"  th:if="${userLogged.address} == null" >
             <a th:href="@{/users/info/update}"><button>Complementar dados pessoais</button></a>
            </div>
        </div>
      </div>
    </div>
      
    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
  </body>
</html>
