<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/fragment.css}" />
    <link rel="stylesheet" th:href="@{/css/clientAreaFragment.css}" />
    <link rel="stylesheet" th:href="@{/css/clientAreaUpdateInfo.css}" />
    <script
    src="https://kit.fontawesome.com/954f0760ed.js"
    crossorigin="anonymous"
  ></script>
  </head>

  <body>
    <div th:replace="fragments/fragments :: header"></div>

    <div class="container">
      <div th:replace="fragments/clientAreaFragment :: side-menu"></div>
      <div class="content">
        
        <div class="title">
          <h1>Conclua seu cadastro:</h1>
        </div>
       
        <div class="form" >
          <form 
            th:action="@{/users/update}"
            th:object="${userDTO}"
            method="PUT">
            <div class="form-field">
              <label for="">Rua:</label>
              <input type="text" th:field="*{address.street}" >
            </div>
            <div class="form-field">
              <label for="">Número:</label>
              <input type="text" th:field="*{address.number}" >
            </div>
            <div class="form-field">
              <label for="">Cep:</label>
              <input type="text" th:field="*{address.postalCode}" >
            </div>
            <div class="form-field">
              <label for="">Cidade:</label>
              <input type="text" th:field="*{address.city}" >
            </div>
            <div class="form-field">
              <label for="">Estado:</label>
              <input type="text" th:field="*{address.state}" >
            </div>
            <div class="form-field">
              <label for="">País:</label>
              <input type="text" th:field="*{address.country}" >
            </div>
            <button type="submit">Atualizar dados</button>
          </form>
        </div>
      </div>
    </div>
      
    <div th:replace="fragments/fragments :: footer"></div>

    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
  </body>
</html>
