<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
            rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/clientsSchedulings.css}">
    <script
    src="https://kit.fontawesome.com/954f0760ed.js"
    crossorigin="anonymous"
  ></script>
</head>

<body>

    <div th:replace="fragments/fragments :: header"></div>

    <div class=  "container">
        <section class="content">
            <div class="banner">
                <div class="user">
                    <i class="fa-solid fa-user"></i>
                    <div>
                        <h1 th:text="'Nome: ' + ${client.name}"></h1>
                        <h1 th:text="'Id: ' + ${client.id}"></h1>
                    </div>
                </div>
                <div class="new-scheduling">
                    <h1>Agendar consulta</h1>
                    <a th:href="@{/schedulings}"><i class="fa-solid fa-calendar-plus"></i></a>
                </div>
            </div>
            <table class="tb">
                <thead>
                        <th>#</th>
                        <th>Médico</th>
                        <th>Horario</th>
                        <th>Status</th>
                        <th>confirmar</th>
                </thead>
                <tbody>
                    <tr th:each="scheduling : ${schedulings}">
                        <td th:text="${scheduling.id}"></td>
                        <td th:text="${scheduling.doctor.name}"></td>
                        <td th:text="${#temporals.format(scheduling.schedulingTime, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${scheduling.status}"></td>
                        <td><form th:action="@{'/admins/doctors/' + ${scheduling.doctor.id} + '/schedulings/' + ${scheduling.id}}" th:method="put">
                            <button type="submit" value=""><i class="fa-sharp fa-solid fa-check"></i></button>
                          </form></td>
                    </tr>
                </tbody>


            </table>
            <div class="pagination">
                <div class="buttons" th:if="${number + 1} == ${schedulings.totalPages}">
                    <a th:href="@{'/admins/schedulings/users/' + ${client.id} + '?page=' + ${number -1}}"><i class="fa-solid fa-chevron-left"></i></a>
                    <span th:text="${schedulings.number + 1}"></span>
                    <a href=""><i class="fa-solid fa-angle-right"></i></a>
                    <span th:text="'total de paginas: ' + ${schedulings.totalPages}"></span>
                    <span th:text="'consultas: ' + ${schedulings.totalElements}"></span>
                </div>
                <div class="buttons" th:unless="${number + 1} == ${schedulings.totalPages}">
                <a th:href="@{'/admins/schedulings/users/' + ${client.id} + '?page=' + ${number -1}}"><i class="fa-solid fa-chevron-left"></i></a>
                <span th:text="${schedulings.number + 1}"></span>
                <a th:href="@{'/admins/schedulings/users/' + ${client.id} + '?page=' + ${number + 1}}"><i class="fa-solid fa-angle-right"></i></a>
                <span th:text="'total de paginas: ' + ${schedulings.totalPages}"></span>
                <span th:text="'consultas: ' + ${schedulings.totalElements}"></span>
                </div>
            </div>
        </section>
    </div>
<script>


</script>

<div th:replace="fragments/fragments :: footer"></div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>