<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
            rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/clientsList.css}">
    <script
    src="https://kit.fontawesome.com/954f0760ed.js"
    crossorigin="anonymous"
  ></script>
</head>

<body>

    <div th:replace="fragments/fragments :: header"></div>

    <div class=  "container">
        <section class="content">
            <div class="search">
                <h1>Digite o CPF no paciente</h1>
                <form class="seach-field" th:action="@{/admins/users}" method="get">
                  <div class="box">
                    <input type="search" th:name="cpf" id="">
                    <button type="submit" value="buscar"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                  </div>
                </form>
            </div>
            <table class="tb">
                <thead>
                        <th>#</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Detalhes</th>
                        <th>Consultas</th>
                </thead>
                <tbody>
                    <tr th:each="client : ${listClients}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.cpf}"></td>
                        <td> <a href=""><i class="fa-solid fa-address-card"></i></a></td> 
                        <td><form th:action="@{'/admins/schedulings/users/' + ${client.id}}" th:method="get">
                            <button type="submit" value=""><i class="fa-solid fa-calendar-days"></i></button>
                        </form></td> 
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
<script>


</script>

<div th:replace="fragments/fragments :: footer"></div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>