<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
            rel="stylesheet">
            
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/954f0760ed.js" crossorigin="anonymous"></script>

</head>

<body>

<div th:replace="fragments/fragments :: header"></div>

<section class="corpo">
    <div class="fundo">
        <div class="banner">
            <div class="slogan">
                <a class="main-link" th:href="@{/}"><strong>MCK CLINIC</strong></a>
                <h2>
                    Tudo que você precisa para um corpo e mente sãos em um só lugar. 
                </h2>
            </div>
        </div>
    </div>
    <div class="content ">
        <div class="cards">

            <div class="card">
                <a href="/about">
                    <i class="fa-solid fa-circle-info fa-6x"></i>
                    <h3>Sobre a MCK Clinic</h3>
                </a>
            </div>

            <div class="card">
                <a href="">
                    <i class="fa-solid fa-calendar-check fa-6x"></i>
                    <h3>Agendar minha consulta</h3>
                </a>
            </div>

            <div class="card">
                <a href="/users/logged">
                    <i class="fa-solid fa-arrow-right-to-bracket fa-6x"></i>
                    <h3>Área do cliente</h3>
                </a>
            </div>

            <div class="card">
                <a href="/expertises">
                    <i class="fa-solid fa-stethoscope fa-6x"></i>
                    <h3>Nossas especialidades</h3>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <i class="fa-solid fa-hospital fa-6x"></i>
                    <h3>Nossas unidades</h3>
                </a>
            </div>

        </div>
        <div class="news">
            <div class="banner-news">
                <div class="texto-banner">
                    <span>Temos</span>
                    <h1>Novidades!</h1>
                </div>
                <a href="">Saiba mais!</a>
            </div>
            <div class="carrossel-news">
                <img src="img/AdobeStock_178178569.jpeg" alt="">
            </div>
        </div>

    </div>
</section>

<div th:replace="fragments/fragments :: footer"></div>

<script src="script.js"></script>
</body>
</html>