<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap"
            rel="stylesheet">
            
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="css/indexx.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/954f0760ed.js" crossorigin="anonymous"></script>

</head>

<body>

<div th:replace="fragments/fragments :: header"></div>

<div class="content">
    <section class="container-main">
      <div class="main-baner">
       <div class="slogan">
        <h1>MCK CLINIC</h1>
        <h2>Tudo que você precisa para um corpo e mente sãos em um só lugar.</h2>
       </div>
      </div>
    </section>

    <section class="container">
      <div class="cards-link">
        <div class="card-link">
          <a href="/about">
            <i class="fa-solid fa-circle-info fa-4x"></i>
            <h3>Quem somos</h3>
          </a>
        </div>
        <div class="card-link">
          <a href="">
            <i class="fa-solid fa-calendar-check fa-4x"></i>
            <h3>Agendar minha consulta</h3>
          </a>
        </div>
        <div class="card-link">
          <a href="/users/logged">
            <i class="fa-solid fa-arrow-right-to-bracket fa-4x"></i>
            <h3>Área do cliente</h3>
          </a>
        </div>
        <div class="card-link">
          <a href="/expertises">
            <i class="fa-solid fa-stethoscope fa-4x"></i>
            <h3>Nossas especialidades</h3>
          </a>
        </div>
        <div class="card-link">
          <a href="">
            <i class="fa-solid fa-hospital fa-4x"></i>
            <h3>Nossas unidades</h3>
        </a>
          </a>
        </div>
      </div>
    </section>
    <section class="container info">
      <div class="info-baner one">
        <div class="info-text">
          <h3>Venha nos visitar</h3>
          <p>Temos uma equipe especializada para atendê-lo!</p>
        </div>
        <div class="info-img">
            <picture>
              <img src="img/index/banner-index-rodapé-300.jpg" alt="médicos">
            </picture>
        </div>
      </div>
      <div class="info-baner two">
        <div class="info-text">
          <h3>Agende a sua consulta</h3>
          <p>Cadastre-se aqui e tenha acesso a nossa plataforma de agendamento de consultas on-line</p>
        </div>
        <div class="info-img">
          <picture>
            <img src="img/index/info-agendamento-300.jpg" alt="médicos">
          </picture>
        </div>
      </div>
    </section>
  </div>

<div th:replace="fragments/fragments :: footer"></div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>
</html>